@font-face {
  font-family: 'Futura_Bold';
  src: url("../fonts/FUTURA HEAVY FONT_0.TTF");
}

@font-face {
  font-family: 'Corbel_Bold';
  src: url("../fonts/corbelb.ttf");
}

@font-face {
  font-family: 'Corbel_Regular';
  src: url("../fonts/corbel.ttf");
}

@font-face {
  font-family: 'arial';
  src: url("../fonts/arial.ttf");
}

@font-face {
  font-family: 'Roboto_Medium';
  src: url("../fonts/Roboto-Medium_0.ttf");
}

@font-face {
  font-family: 'Roboto-Light';
  src: url("../fonts/Roboto-Light_0.ttf");
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url("../fonts/Roboto-Bold_0.ttf");
}
@font-face {
  font-family: 'myriadpro';
  src: url("../fonts/myriadpro-regular.ttf");
}
@font-face {
  font-family: 'OpenSans-Regular';
  src: url("../fonts/OpenSans-Regular.ttf");
}