@mixin btn {
  border-radius: 10px;
background-color: #fe5f97;
border: unset;
color: white;
}

@mixin bg_properties {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}